<ion-card>
  <ion-card-header>
    Login Form
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]='account.email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="account.password"></ion-input>
    </ion-item>
    <ion-row>
      <button ion-button color='secondary' (click)="gotoPage('RegisterPage')">Register</button>
      <button ion-button color='primary' (click)="login()">Login</button>
    </ion-row>
  </ion-card-content>
</ion-card>
