<form #loginForm="ngForm" novalidate>
  <ion-card>
    <ion-card-header>
      Login Form
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input (ionChange)='change()' (ionBlur)='blur()' (ionFocus)='focus()' name="email" type="email" [(ngModel)]='account.email'
          #email="ngModel" required pattern="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"></ion-input>
      </ion-item>
      <ion-item class='global__input-error' *ngIf="email.invalid && email.dirty">Email is invalid</ion-item>
      <ion-item class='global__input-error' [hidden]="!showEmailError">Email is invalid1</ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input required pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$" name="password" type="password" #password="ngModel" [(ngModel)]="account.password"></ion-input>
      </ion-item>
      <ion-item class='global__input-error' *ngIf="password.invalid && password.dirty">Password must have at least 6</ion-item>
      <ion-row>
        <button ion-button color='secondary' (click)="gotoPage('RegisterPage')">Register</button>
        <button ion-button color='primary' (click)="login()" [disabled]='loginForm.invalid'>Login</button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</form>
