page-profile {
  .img-container {
    background: cyan;
    height: 260px;
    padding: 15px;
    margin-top: 10%;
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: block;
      margin: 20px auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
