<ion-item *ngIf='chatText.fromUserId === userId; else from' class="chat-message-right">
  <ion-avatar item-right>
    <img src="http://lorempixel.com/400/200/people/1">
  </ion-avatar>
  <h2>{{chatText.fromProfile.name}}</h2>
  <p>{{chatText.message}}</p>
</ion-item>

<ng-template #from>
  <ion-item>
    <ion-avatar item-left>
      <img src="http://lorempixel.com/400/200/people/2">
    </ion-avatar>
    <h2>{{chatText.fromProfile.name}}</h2>
    <p>{{chatText.message}}</p>
  </ion-item>
</ng-template>
